@charset "utf-8";

@import url('https://rsms.me/inter/inter.css');

:root {
  --color-foreground: hsl(0, 0%, 7%);
  --color-midground: hsl(0, 0%, 20%);
  --color-background: hsl(0, 0%, 100%);
  --color-links: hsl(213, 100%, 52%);
  --color-links-hover: hsl(213, 100%, 43%);
  --color-border: hsl(0, 0%, 82%);
  --color-code: hsl(195deg 40% 98%);
  --font-body: 'Inter var', -apple-system, "Segoe UI", Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif, system-ui, "Apple Color Emoji", "Segoe UI Emoji";
  --mono-body: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

::-moz-selection {
  background-color: #0070f3;
  color: #fff;
}

::selection {
  background-color: #0070f3;
  color: #fff;
}

::-webkit-scrollbar {
    background: var(--color-background);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-midground);
    border: 4px solid transparent;
    border-radius: 100px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: grey;
    border: 4px solid transparent;
    border-radius: 150px;
    background-clip: content-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  direction: ltr;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:focus {
  outline: var(--color-links) solid 2px;
  outline-offset: 2px;
  border-radius: 0.1rem;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
  background-image: url('/../background-texture.svg');
  background-attachment: fixed;
}

:not(code, kbd, samp, pre, svg) {
  font-feature-settings: "cv06";
}

a {
  color: var(--color-links);
  text-decoration: none;
}

a:hover {
  color: var(--color-links-hover);
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: var(--color-border);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

input:where([type="text"]),
input:where([type="search"]),
textarea {
  display: block;
  border: 1px solid var(--color-border);
  font: inherit;
  line-height: 1;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 0.5rem;
  color: var(--color-foreground);
  caret-color: grey;
}

input:where([type="text"]),
input:where([type="search"]) {
  height: calc(1ch + 1.5em);
  width: 80%;
}

textarea {
  width: 100%;
  resize: vertical;
  line-height: inherit;
}

textarea[name=markdown] {
    font-family: var(--mono-body);
}

label {
  cursor: text;
}

button {
  border-radius: 0.5rem;
  height: calc(1ch + 1.5em);
  border: none;
  cursor: pointer;
  font: inherit;
  background-color: transparent;
  color: var(--color-foreground);
  border: 1px solid var(--color-border);
}

code,
kbd,
samp,
pre {
  font-family: var(--mono-body);
  background-color: var(--color-code);
  padding: 0.2rem;
  border-radius: 0.25rem;
}

summary {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  --gutter: 16px;
  width: 1024px;
  max-width: calc(100% - var(--gutter) * 2);
  margin-right: auto;
  margin-left: auto;
}

.remix-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
  width: 100%;
}

.remix-app__header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.remix-app__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remix-app__header-home-link {
  width: 106px;
  height: 30px;
  color: var(--color-foreground);
}

.remix-app__header-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.remix-app__header-nav li {
  font-weight: bold;
}

.remix-app__main {
  flex: 1 1 100%;
}

.remix-app__footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid var(--color-border);
}

.remix-app__footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remix__page {
  --gap: 1rem;
  --space: 2rem;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  gap: var(--gap);
  padding-top: var(--space);
  padding-bottom: var(--space);
}

@media print, screen and (min-width: 640px) {
  .remix__page {
    --gap: 2rem;
    grid-auto-rows: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .remix__page {
    --gap: 4rem;
  }
}

.remix__page > main > :first-child {
  margin-top: 0;
}

.remix__page > main > :last-child {
  margin-bottom: 0;
}

.remix__page > aside {
  margin: 0;
  padding: 1.5ch 2ch;
  border: solid 1px var(--color-border);
  border-radius: 0.5rem;
}

.remix__page > aside > :first-child {
  margin-top: 0;
}

.remix__page > aside > :last-child {
  margin-bottom: 0;
}

.remix__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.remix__form > * {
  margin-top: 0;
  margin-bottom: 0;
}

.adminlist {
  list-style-type: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}